# Hasura

HASURA_ENDPOINT_PROTOCOL=http
## This can be either IP or hostname(domain).
HASURA_ENDPOINT_IP=localhost
## Sync port with hasura/config.yaml for local development environment
HASURA_ENDPOINT_PORT=8080
HASURA_ENDPOINT=${HASURA_ENDPOINT_PROTOCOL}://${HASURA_ENDPOINT_IP}:${HASURA_ENDPOINT_PORT}
## Docs for authentication: https://docs.hasura.io/1.0/graphql/manual/auth/authentication/index.html
HASURA_GRAPHQL_ADMIN_SECRET=helloworld
## Docs for logs: https://docs.hasura.io/1.0/graphql/manual/deployment/logging.html
HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup, http-log, webhook-log, websocket-log, query-log
## Set to "false" to disable console or for manual [migration](https://docs.hasura.io/1.0/graphql/manual/migrations/existing-database.html)
HASURA_GRAPHQL_ENABLE_CONSOLE=true

# Database

POSTGRES_ENDPOINT_IP=localhost
POSTGRES_ENDPOINT_PORT=5432
POSTGRES_DATABASE=test
POSTGRES_USERNAME=root
POSTGRES_PASSWORD=toor
## example for other timezones notation: DB_TIMEZONE=Asia/Seoul
POSTGRES_TIMEZONE=utc